:root {
	--light: #F0ECEA;
	--brown: #B88B71;
	--gray: #313131;
	--darker: #1E2225;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Alegreya', serif;
	background-color: var(--darker);
	color: var(--light);
}

::selection {
	background-color: var(--brown);
	color: var(--darker);
}

.margin {
	max-width: 1200px;		/* better reading on ultrawide screens */
	margin: auto;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	font-size: 3.5rem;
	line-height: 108px;
	letter-spacing: 0.5rem;
	display: inline;
	font-family: 'Crete Round', serif;
}
h2 {
	font-size: 1.5rem;
	font-family: 'Crete Round', serif;
}
p, span {
	font-size: 1.2rem;
	line-height: 26px;
}

a {
	color: inherit;
	font-family: inherit;
	text-decoration: none;
}

header {
	height: 100vh;

	background: #313131;
	background: radial-gradient(circle, var(--gray) 0%, var(--darker) 65%);
}
header .flex {
	height: 100vh;
}
header h1 {
	color: var(--brown);
}
header h1:last-of-type::after {
	content: '_';
	animation: blink 0.5s infinite;
}
header .contact {
	margin-top: 1rem;
}
.contact a {
	width: 40px;
}

.products {
	padding: 10rem 1rem;
	text-align: center;
	background-color: var(--darker);
}
.products-grid {
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr;
	gap: 2rem;
	text-align: center;
}
.products-grid .product {
	padding: 1rem;
	background-color: var(--light);
	box-shadow: 0 0 20px 5px var(--darker);
}
.products-grid .product:hover {
	filter: brightness(1.2);
	transition: filter 0.2s;
}
.product img {
	height: 50px;
}
.products-grid .prod2 {
	background-color: var(--brown);
} 
.products-grid .prod1, .products-grid .prod3 {
	color: var(--brown);
} 

#contact {
	background-color: var(--brown);
	padding: 5rem 0;
	/* text-align: center; */
	clear:both;
	overflow: hidden;
}
#contact .grid_contact {
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr;
	align-items: center;
}
.form_of_contact {
	text-align: center;
}
.form_of_contact > img {
	transform: translateY(10%);
}
.form_of_contact > span {
	font-family: 'Crete Round', serif;
	color: var(--darker);
	font-size: 1.5rem;
}

.certificates {
	padding: 7rem 0;
	text-align: center;
}
.certificates_grid {
	display: grid;
	grid-template-areas:
	'cer1 cer1'
	'cer2 cer2';
	gap: 50px;
}
.certificates h1 {
	writing-mode:vertical-rl;
	float: left;
}
.certificate1 {
	grid-area: 'cer1';
}
.certificate2 {
	grid-area: 'cer2';
}
[class *= 'certificate'] img {
	width: 100%;
}

@keyframes blink {
	0%, 100%{opacity: 1;}
	90%{opacity: 0;}
}

@media(max-width: 600px) {
	html {
		font-size: 93%;
	}

	h1 {
		font-size: 2.5rem;
		line-height: 60px;
	}

	.products h1 {
		margin-bottom: 2rem;
	}
	.products-grid {
		grid-template: 1fr 1fr 1fr / 1fr;
	}

	.grid_contact {
		grid-template: 1fr 1fr 1fr / 1fr !important;
		gap: 50px;
	}

	.certificates {
		padding: 7rem 1rem;
	}
	.certificates_grid {
		grid-template-areas:
		'cer1'
		'cer2';
	}
}